.channel-list{
  /* border: 1px solid grey; */
  padding: 10px;
}

.channel{
  margin-bottom: 5px;
  font-size: 20px;
  border: 1px solid grey;
}

.channel-button{
  padding: 5px;
  border: none;
  background: none;
  width: 100%;
}

.channel-button::first-letter {
  text-transform: uppercase;
}

.active-channel{
  background: lightgreen;
}

.channel-button:focus{
  outline: none;
}

.notify{
  background: green;
  width: 25px;
  border-radius: 25px;
  float: right;
  color: white;
}

.hide{
  background: transparent;
  width: 25px;
  height: auto;
  border-radius: 25px;
  float: right;
}